<div class="card main-card mb-3">
    <div class="card-header">
        <b>Nhập thông tin</b>
    </div>
    <div class="col-md-12">
        <div [formGroup]="addParkingForm">
            <div class="form-group">
                <label for="parkingName">Tên bãi đỗ xe</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Nhập tên bãi đỗ xe ..."
                    formControlName="parkingName"
                />
            </div>
            <div class="form-group">
                <label for="capacity">Sức chứa</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Nhập sức chứa ... "
                    formControlName="capacity"
                />
            </div>
            <div class="form-group">
                <label for="address">Địa chỉ</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Nhập địa chỉ bãi đỗ..."
                    formControlName="address"
                />
            </div>
            <button routerLink="/add_image">test image</button>
            <div class="form-group">
                <label for="blockAmount">Giá tiền</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Nhập giá tiền..."
                    formControlName="blockAmount"
                />
            </div>
        </div>
        <div class="form-group">
            <label for="describe">Đặc điểm</label>
            <input
                type="text"
                class="form-control"
                placeholder="Nhập đặc điểm bãi đỗ..."
                formControlName="describe"
            />
        </div>
        <button
            (click)="add()"
            class="mb-2 btn btn-info"
            type="button"
            [disabled]="!addParkingForm.valid"
        >
            Save Movie & Exit
        </button>
    </div>
</div>
