<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="addParkingForm" (ngSubmit)="add()">
                <div class="form-group">
                    <label for="parkingName">Tên bãi đỗ xe</label>
                    <input
                        type="text"
                        class="form-control"
                        id="parkingName"
                        placeholder="Tên bãi đỗ ..."
                        formControlName="parkingName"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="address">Địa điểm</label>
                    <input
                        type="text"
                        class="form-control"
                        id="address"
                        placeholder="Địa điểm bãi đỗ ... "
                        formControlName="address"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="payment">Hình thức thanh toán</label>
                    <input
                        type="text"
                        class="form-control"
                        id="payment"
                        placeholder="Địa điểm bãi đỗ ... "
                        formControlName="payment"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="kindOf">Loại </label>
                    <input
                        type="text"
                        class="form-control"
                        id="kindOf"
                        placeholder="Địa điểm bãi đỗ ... "
                        formControlName="kindOf"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="capacity">Sức chứa</label>
                    <input
                        type="text"
                        class="form-control"
                        id="capacity"
                        placeholder="Nhập sức chứa ..."
                        formControlName="capacity"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="blockAmount">Tiền(/15min)</label>
                    <input
                        type="text"
                        class="form-control"
                        id="blockAmount"
                        placeholder="Nhập tiền ..."
                        formControlName="blockAmount"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="parkingImages">Ảnh bãi đỗ</label>
                    <input
                        type="text"
                        class="form-control"
                        id="parkingImages"
                        placeholder="Nhập ảnh ..."
                        formControlName="parkingImages"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input
                        type="text"
                        class="form-control"
                        id="latitude"
                        placeholder="Nhập ..."
                        formControlName="latitude"
                    />
                </div>
                <div class="form-group">
                    <label for="longtidue">Longtitude</label>
                    <input
                        type="text"
                        class="form-control"
                        id="longtidue"
                        placeholder="Nhập  ..."
                        formControlName="longitude"
                    />
                </div>
                <div class="form-group">
                    <label for="describe">Đặc điểm</label>
                    <input
                        type="text"
                        class="form-control"
                        id="describe"
                        placeholder="Nhập đặc điểm ..."
                        formControlName="describe"
                    />
                    <small>VD: Có mái che, trông qua đêm</small>
                </div>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-primary" type="submit" href ="#">
                        Lưu
                    </button>
                    <button class="btn btn-primary" routerLink="/home/analytic">
                        Back
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
