<div class="main-card mb-3 card">
    <div class="card-header">
        <div
            class="card-header-title font-size-lg text-capitalize font-weight-normal"
        >
            Danh sách chủ bãi đỗ
        </div>
    </div>
    <div class="table-responsive">
        <table
            class="align-middle text-truncate mb-0 table table-borderless table-hover"
        >
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Avatar</th>
                    <th class="text-center">Tên chủ bãi</th>
                    <th class="text-center">Số điện thoại</th>
                    <th class="text-center">Rating</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Ngày tạo</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr 
                    *ngFor="let owner of owners"
                    [ngStyle]="{
                        'background-color':
                            owner.stars < 3.5 ? '	#f7c297' : '#ffffff'
                    }"
                >
                    <td class="text-center text-info" style="width: 80px;">
                        {{ owner.owner.credentialId }}
                    </td>
                    <td class="text-center ">
                        <img
                            width="40"
                            class="rounded-circle"
                            src="./assets/images/avatars/3.jpg"
                            alt=""
                        />
                    </td>
                    <td class="text-center text-body">
                        {{ owner.owner.fullName }}
                    </td>
                    <td class="text-center text-body">
                        {{ owner.owner.phoneNumber }}
                    </td>
                    <td class=" text-center text-body">
                        <star-rating
                            value="{{ owner.stars }}"
                            checkedcolor="yellow"
                            uncheckedcolor="black"
                            size="24px"
                            readonly="true"
                        ></star-rating>
                    </td>
                    <td class="text-center text-body">
                        {{ owner.owner.status }}
                    </td>
                    <td class="text-center text-body">
                        {{ owner.owner.created_at | date: "dd/MM/yyyy" }}
                    </td>
                    <td class="text-center text-body">
                        <button
                            (click)="disabledOwner(owner.owner.credentialId)"
                            class="text-center"
                            class=" btn btn-dark"
                        >
                            Disable
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
