<div
    [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme"
    (mouseover)="sidebarHover()"
    (mouseout)="sidebarHover()"
>
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <button
                type="button"
                class="hamburger close-sidebar-btn hamburger--elastic"
                [ngClass]="{ 'is-active': globals.toggleSidebar }"
                (click)="toggleSidebar()"
            >
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-sidebar-content">
        <div class="app-sidebar-scroll">
            <perfect-scrollbar [autoPropagation]="true">
                <div class="v-sidebar-menu vsm-default">
                    <div class="vsm-list">
                        <ngb-accordion
                            [destroyOnHide]="false"
                            [closeOthers]="true"
                            [activeIds]="extraParameter"
                        >
                            <ngb-panel>
                                <ng-template ngbPanelHeader>
                                    <button
                                        routerLink="/''"
                                        routerLinkActive="active-item"
                                        [routerLinkActiveOptions]="{
                                            exact: true
                                        }"
                                        ngbPanelToggle
                                        class="vsm-link"
                                    >
                                        <i class="vsm-icon pe-7s-car"></i>
                                        <span class="vsm-title"
                                            >Quản lý bãi đỗ</span
                                        >
                                    </button>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="componentsMenu">
                                <ng-template ngbPanelHeader>
                                    <button
                                        routerLinkActive="active-item"
                                        routerLink="/owners"
                                        ngbPanelToggle
                                        class="vsm-link"
                                    >
                                        <i class="vsm-icon pe-7s-key"></i>
                                        <span class="vsm-title"
                                            >Quản lý người cho thuê bãi</span
                                        >
                                    </button>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelHeader>
                                    <button
                                        routerLink="/users"
                                        routerLinkActive="active-item"
                                        ngbPanelToggle
                                        class="vsm-link"
                                    >
                                        <i class="vsm-icon pe-7s-add-user"></i>
                                        <span class="vsm-title"
                                            >Quản lý tài khoản </span
                                        >
                                    </button>
                                </ng-template>
                            </ngb-panel>

                            <ngb-panel id="formElementsMenu">
                                <ng-template ngbPanelHeader>
                                    <button ngbPanelToggle class="vsm-link">
                                        <i
                                            class="vsm-icon pe-7s-calculator"
                                        ></i>
                                        <span class="vsm-title">Thống kê</span>
                                        <i class="vsm-arrow"></i>
                                    </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="vsm-dropdown">
                                        <div class="vsm-list">
                                            <div class="vsm-item">
                                                <a
                                                    routerLinkActive="active-item"
                                                    routerLink="/transcript"
                                                    class="vsm-link"
                                                    ><span class="vsm-title"
                                                        >Thống kê giao
                                                        dịch</span
                                                    ></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</div>
