<div class="header center">Điền tên và mật khẩu </div>

<form [formGroup]="loginForm" (ngSubmit)="login()" >

  <mat-form-field>
    <input matInput type="text" id="username" placeholder="Tên đăng nhập..." autocomplete="off" formControlName="username" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="password" placeholder="Mật khẩu..." formControlName="password" required>
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">ĐĂNG NHẬP</button>
  </div>

</form>