<div class="h-100 bg-plum-plate bg-animation">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-8">
            <div class="app-logo-inverse mx-auto mb-3"></div>
            <div class="modal-dialog w-100 mx-auto">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="h5 modal-title text-center">
                            <h4 class="mt-2">
                                <div>Welcome back,</div>
                                <span
                                    >Please sign in to your account below.</span
                                >
                            </h4>

                            <form [formGroup]="loginForm" (ngSubmit)="login()">
                                <mat-form-field>
                                    <input
                                        matInput
                                        type="text"
                                        id="username"
                                        placeholder="Tên đăng nhập..."
                                        autocomplete="off"
                                        formControlName="username"
                                        required
                                    />
                                </mat-form-field>

                                <mat-form-field>
                                    <input
                                        matInput
                                        type="password"
                                        id="password"
                                        placeholder="Mật khẩu..."
                                        formControlName="password"
                                        required
                                    />
                                </mat-form-field>

                                <div class="actions">
                                    <button
                                        class="mb-2 mr-2 btn-transition btn btn-outline-primary"
                                        type="submit"
                                        [disabled]="!loginForm.valid"
                                    >
                                        <b> ĐĂNG NHẬP</b>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
